.mainContainer {
    height: 100vh;
    flex-grow: 1;
    z-index: 1;
    background: black;
    backdrop-filter: blur(10px);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  
  
  .mainContainer .menuList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: #2c2c2c;
  }
  
  .menuList ul {
    display: flex;
    align-items: center;
  }
  
  .menuList ul li {
    list-style: none;
    margin: 0 25px;
    position: relative;
  }
  
  .mainContainer .menuList ul li a {
    text-decoration: none;
    color: #848484;
  }
  
  .mainContainer .menuList ul li::before {
    position: absolute;
    content: "";
    bottom: -20px;
    left: 10px;
    width: 0px;
    height: 5px;
    border-radius: 5px;
    background: #f1f1f1;
  }
/*   
  .mainContainer .menuList ul li:hover::before, */
  .mainContainer .menuList ul li.active::before {
    width: 20px;
    transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .mainContainer .menuList ul li:hover a,
  .mainContainer .menuList ul li.active a {
    color: #f1f1f1;
    transition: 0.3s ease;
  }
  
  .mainContainer .menuList p {
    color: #f1f1f1;
    font-size: 14px;
  }
  
  .mainContainer p i {
    font-size: 12px;
    margin-right: 6px;
  }
  
  .mainContainer p span {
    margin-left: 6px;
    color: #848484;
  }
  
  .AudioList {
    padding: 10px 30px;
  }
  
  .AudioList .title {
    font-size: 18px;
    color: #f1f1f1;
  }
  
  .AudioList .title span {
    margin-left: 5px;
    color: #848484;
    font-size: 14px;
    font-weight: 200;
  }
  
  .AudioList .songsContainer {
    height: 220px;
    overflow-y: scroll;
  }
  
  .AudioList .songs {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #848484;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    padding-bottom: 5px;
  }
  
  .AudioList .songs.active,
  .AudioList .songs.active .song .section .songName .songSpan {
    color: #f1f1f1 !important;
  }
  
  .AudioList .songs .count {
    margin-right: 10px;
  }
  
  .AudioList .songs .song {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 5px;
  }
  
  .AudioList .songs .song .imgBox {
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 0.5em;
    background-color: #848484;
    margin-right: 10px;
    overflow: hidden;
  }
  
  .AudioList .songs .song .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .AudioList .songs .song .section {
    display: flex;
    width: 100%;
  }
  
  .AudioList .songs .song .section .songName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  
  .AudioList .songs .song .section .songName .songSpan {
    margin-left: 0;
    font-size: 12px;
  }
  
  .AudioList .songs .song .section .hits {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  
  .AudioList .songs .song .section .hits p {
    margin: 0 20px;
  }
  
  .AudioList .songs .song .section .hits p:nth-child(1) {
    margin-left: 0;
  }
  
  .AudioList .songs .song .section .hits .favourite i {
    color: #49e12e !important;
    filter: drop-shadow(0px 0px 4px #49e12e);
  }
  
  .AudioList .songs:hover,
  .AudioList .songs:hover .song .section .songName .songSpan {
    color: #f1f1f1;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .AudioList .songs:hover .song .imgBox img {
    transform: scale(1.2);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  @media screen and (max-width: 550px) {
    .mainContainer {
      min-width: 380px;
    }
  
    .content {
      padding: 10px 15px;
    }
  
    .content .breadCrump P {
      font-size: 12px;
    }
  
    .content .breadCrump i {
      font-size: 14px;
    }
  
    .content .artist .left .name h2 {
      font-size: 25px;
    }
  
    .content .artist .right a {
      padding: 5px 15px;
      font-size: 12px;
      margin: 0 10px;
    }
  
    .menuList ul li {
      margin: 0 5px;
    }
  
    .mainContainer .menuList ul li a {
      font-size: 14px;
    }
  
    .mainContainer .menuList p {
      font-size: 12px;
    }
  
    .mainContainer .menuList p i {
      font-size: 10px;
    }
  
    .mainContainer .menuList p span {
      margin-left: 0px;
      font-size: 10px;
      text-align: center;
      display: block;
    }
  
    .mainContainer .menuList {
      padding: 10px 15px;
    }
  
    .AudioList {
      padding: 10px 5px;
    }
  
    .AudioList .songs .song .section {
      flex-direction: column;
    }
  
    .AudioList .songs .song .section .songName {
      width: 100%;
    }
  
    .AudioList .songs .song .section .hits {
      margin-left: 0;
      margin-top: 5px;
      justify-content: space-between;
    }
  }
  
  @media screen and (max-width: 950px) {
    .Banner {
      height: 240px !important;
      position: relative;
    }
  }


  .my{
    height: 100px;
    background-color: red;
  }
  .menuList p i {
    margin-right: 5px;
  }
  
  .artistContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .artistCard {
    background-color: #282828; /* Dark background */
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    text-align: center;
    color: white;
  }
  
  .artistImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .artistName {
    padding: 10px;
    font-size: 16px;
  }
  .albumContainer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: red;
  }
  
  .albumImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .albumInfo {
    margin-top: 10px;
  }
  .mainContainer {
    padding: 20px;
  }
  
  .albumList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  .mainContainer {
    padding: 20px;
  }
  
  .sectionTitle {
    font-size: 24px;
    margin: 20px 0 10px;
    color:white;
  }
  
  .albumList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px; 
  }
  .mainContainer {
    padding: 20px;
  }
  
  .sectionTitle {
    font-size: 30px;
    margin: 20px 0 10px;
    color:white;
  }
  
  .albumListContainer {
    overflow-y: auto;
    max-height: 400px; 
  }
  
  .albumList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px; 
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .albumsSection {
    margin-bottom: 20px;
  }
  
  .musicPlayerSection {
    margin-top: 20px;
  }
  
  
  